@import 'src/styles/breakpoints';

.controls-container {
  column-gap: 10px;
  display: grid;
  grid-template-columns: repeat(3, auto);

  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }

  p {
    font-size: 0.8rem;
  }
}

.controls-header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  button {
    width: 10rem;

    .icon {
      padding-left: 10px;
    }
  }
}
