<div class="controls-header">
  <h3>Controls</h3>
  <button class="button--small" (click)="isDesktopMode = !isDesktopMode">
    <ng-container *ngIf="!isDesktopMode; else mobileButton"
      >Desktop version <span class="icon">computer</span></ng-container
    >
    <ng-template #mobileButton>Mobile version <span class="icon">smartphone</span></ng-template>
  </button>
</div>
<div class="controls-container" *ngIf="isDesktopMode; else mobileDescription">
  <div>
    <h4>Plane steering</h4>
    <p>
      W / ↑ - Accelerate<br />
      S / ↓ - Decelerate<br />
      A / ← - Turn left<br />
      D / → - Turn right
    </p>
  </div>
  <div>
    <h4>Camera steering</h4>
    <p>
      C - Switch camera mode<br />
      M - Focus on my plane<br />
      &gt; / , - Focus on next player<br />
      &lt; / . - Focus on previous player
    </p>
  </div>
  <div>
    <h4>Airport controls</h4>
    <p>
      F - Land on the airport<br />
      A / ← - Move to package on the left<br />
      D / → - Move to package on the right<br />
      ↩ - Select package<br />
      F - Take off<br />
      X - Refuel plane
    </p>
  </div>
</div>

<ng-template #mobileDescription>
  <div class="controls-container">
    <div>
      <h4>Plane steering (Touch and hold part of screen)</h4>
      <p>
        Accelerate - upper-center part of screen<br />
        Decelerate - bottom-center part of screen<br />
        Turn left - left part of screen<br />
        Turn right - right part of screen
      </p>
    </div>
    <div>
      <h4>Camera steering</h4>
      <p>Select focused player by clicking in the players table (top-right corner)</p>
    </div>
    <div>
      <h4>Airport controls</h4>
      <p>
        Land on the airport - touch and hold on the center of the screen<br />
        Other functionalities are easily accessible by buttons
      </p>
    </div>
  </div>
</ng-template>
