:host {
  display: block;
  height: fit-content;
  width: fit-content;
}

.help {
  background: var(--card-background-darker-color);
  min-height: min(495px, 80vh);
  padding: 20px;
  width: min(650px, 85vw);

  & &__controls-container {
    column-gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
}
