button {
  background-color: var(--accent-color);
  border: 0;
  color: var(--button-text-color);
  cursor: pointer;
  padding: 10px;
  width: 100%;

  &:disabled {
    background-color: var(--accent-darker-color);
    color: var(--button-text-color);
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    background-color: var(--accent-lighter-color);
  }

  &.button--small {
    font-size: 12px;
    height: 28px;
    padding: 2px;
  }

  &.button--medium {
    font-size: 12px;
    height: 40px;
    padding: 4px;
  }
}
