@use 'node_modules/ngx-sharebuttons/themes/default';
@use './variables';
@use './icons';
@use './snackbar';
@use './dialog';
@use './button';
@use './tooltip';
@use './forms';
@use './scrollbar';
@use './share-buttons';
@use './breakpoints';

html,
body {
  background-color: var(--primary-color-3);
  height: 100%;
  margin: 0;
  overflow: hidden;
  user-select: none;
  width: 100%;
}

html,
body,
p,
button,
input {
  font-family: Koulen, cursive;
  font-size: max(min(16px, calc(2vw - 3px)), 10px);
}

p,
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  margin-bottom: 0.7rem;
  margin-top: 0;
}

p {
  font-size: 0.9rem;
}

td,
li {
  font-size: 0.8rem;
}
