:root {
  --primary-color: #1a2531;
  --primary-color-2: #0d1115;
  --primary-color-3: #060e15;
  --accent-color: #dcd9d9;
  --accent-lighter-color: #ece9e9;
  --accent-darker-color: #848484;
  --accent-darkest-color: #302f2f;
  --error-color: #ff2e2e;
  --error-background-color: #730505;
  --warn-background-color: #912b01;
  --correct-color: #6cc444;
  --card-text-color: #dddee1;
  --button-text-color: #000;
  --card-background-color: rgb(0 0 0 / 40%);
  --card-background-light-color: rgb(255 255 255 / 7%);
  --card-background-darker-color: rgb(0 0 0 / 60%);
  --card-background-darkest-color: rgb(0 0 0 / 100%);
  --card-background-lighter-color: rgb(0 0 0 / 40%);
  --compass-arrow-color: #f61a1a;
}

$background: radial-gradient(circle, var(--primary-color) 0%, var(--primary-color-2) 50%, var(--primary-color-3) 100%);
