<div class="player-cockpit" *ngIf="player && position">
  <ng-container *ngIf="!player.isGrounded; else airportMainPanel">
    <pg-nearby-airports
      class="player-cockpit__airports"
      [airportList]="airportList"
      [updateTrigger$]="airportsUpdateTrigger$"></pg-nearby-airports>
    <p class="player-cockpit__velocity">{{ position.velocity | number: '7.0-0' }} km/h</p>
    <pg-player-cockpit-stats class="player-cockpit__stats" [position]="position"></pg-player-cockpit-stats>
    <pg-compass class="player-cockpit__compass" [bearing]="position.bearing"></pg-compass>
    <pg-shipment-details
      class="player-cockpit__shipment"
      *ngIf="player.shipment"
      [shipment]="player.shipment"
      [isSelectable]="false"></pg-shipment-details>
  </ng-container>
  <ng-template #airportMainPanel>
    <pg-airport-main-panel
      *ngIf="!showHelp"
      class="player-cockpit__airport_panel"
      [airport]="airportList[0]"
      [playerShipment]="player.shipment"
      [playerTankLevel]="player.lastTankLevel"></pg-airport-main-panel>
  </ng-template>
</div>
<pg-help class="help-container" *ngIf="showHelp"></pg-help>
