.player-cockpit {
  & &__stats {
    bottom: 0;
    height: min-content;
    left: 0;
    padding: 10px 20px;
    position: absolute;
    width: 170px;

    p {
      margin-top: 0;
    }

    td {
      text-align: left;
    }
  }

  & &__compass {
    bottom: 0;
    position: absolute;
    right: 0;
  }
}
