<pg-card class="game-over">
  <h1>Game Over</h1>
  <h2>Your plane have crashed because of {{ myPlayer.deathCause! | deathCause: 'long' }}</h2>
  <ng-container *ngIf="myPlayerLastGame$ | async as myLastGame; else shortInfo">
    <h3 *ngIf="myPlayerLastGame$ | async as myLastGame; else shortInfo">
      You scored {{ myLastGame.score }} $ by delivering {{ myLastGame.delivered_shipments }} shipments in
      {{ myLastGame.time_alive / 1000 | number: '1.0-0' }} seconds
    </h3>
    <ng-container *ngIf="myPlayerBestGame$ | async as myBestGameResult">
      <h4>
        <ng-container *ngIf="myBestGameResult.best_game.timestamp === myLastGame.timestamp; else notBest">
          It's your new personal best score !!! You now take {{ myBestGameResult.position }} in the leaderboard
        </ng-container>
        <ng-template #notBest
          >It's not your best game... Your best game can be seen in the leaderboard below</ng-template
        >
      </h4>
    </ng-container>
  </ng-container>
  <ng-template #shortInfo>You scored {{ myPlayer.score }}$</ng-template>

  <div class="game-over__leaderboard">
    <pg-leaderboard [myNickname]="myPlayer.nickname"></pg-leaderboard>
  </div>
  <div class="game-over__actions">
    <button>Share your result</button>
    <button (click)="restart()">Restart the game</button>
  </div>
</pg-card>
