<pg-card class="game-over">
  <h1>Game Over</h1>
  <h2 [ngSwitch]="myPlayer.deathCause">
    <span *ngSwitchCase="DeathCauseEnum.RUN_OUT_OF_FUEL">Your plane have crashed because of empty fuel tank</span>
    <span *ngSwitchCase="DeathCauseEnum.SPEED_TOO_LOW">Your plane have crashed because of too low velocity</span>
  </h2>
  <h3>You scored {{ myPlayer.score }}$</h3>
  <div class="game-over__leaderboard">
    <pg-leaderboard [myNickname]="myPlayer.nickname"></pg-leaderboard>
  </div>
  <div class="game-over__actions">
    <button>Share your result</button>
    <button (click)="restart()">Restart the game</button>
  </div>
</pg-card>
