:host {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.lds-spinner {
  display: inline-block;
  height: 80px;
  position: relative;
  width: 80px;
}

.lds-spinner div {
  animation: lds-spinner 1.2s linear infinite;
  transform-origin: 40px 40px;
}

.lds-spinner div::after {
  background: #fff;
  border-radius: 20%;
  content: ' ';
  display: block;
  height: 18px;
  left: 37px;
  position: absolute;
  top: 3px;
  width: 6px;
}

@for $i from 1 through 12 {
  .lds-spinner div:nth-child(#{$i}) {
    animation-delay: (-1.2s + ($i/10));
    transform: rotate(($i * 30deg) - 30deg);
  }
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
