:host {
  display: block;
}

.header-row,
.player-row {
  width: 100%;

  & &__date {
    min-width: 7rem;
    width: 120px;
  }

  & &__score {
    width: 120px;
  }

  & &__shipments {
    width: 120px;
  }

  & &__time {
    min-width: 5rem;
    width: 120px;
  }

  & &__death-cause {
    min-width: 6rem;
    width: 120px;
  }
}
