<ngt-canvas [camera]="cameraOptions" [gl]="RENDERER_OPTIONS" [shadows]="SHADOW_OPTIONS">
  <ngt-ambient-light></ngt-ambient-light>
  <pg-earth></pg-earth>
  <pg-plane
    *ngFor="let player of players.values(); trackBy: trackById; index as index"
    [player]="player"
    [position]="player.cartesianPosition"
    [camera]="index === focusedPlayerIndex ? ngtCanvas?.cameraRef?.value : undefined"
    [cameraFollowing]="followingPlayer"></pg-plane>
  <pg-airport *ngFor="let airport of airports.values(); trackBy: trackById" [airport]="airport"></pg-airport>
  <ngt-soba-orbit-controls
    [rotateSpeed]="0.3"
    [zoomSpeed]="0.3"
    [enableZoom]="!followingPlayer"
    [enableRotate]="!followingPlayer"
    [enableDamping]="!followingPlayer"
    [enablePan]="!followingPlayer"></ngt-soba-orbit-controls>
</ngt-canvas>
<pg-players-summary *ngIf="players" class="players-summary"></pg-players-summary>
<pg-player-cockpit
  *ngIf="myPlayer"
  class="player-cockpit"
  [player]="myPlayer"
  [airports]="airports"></pg-player-cockpit>
