<ngt-canvas [camera]="cameraOptions" [gl]="RENDERER_OPTIONS" [shadows]="SHADOW_OPTIONS">
  <ngt-ambient-light></ngt-ambient-light>
  <pg-earth></pg-earth>
  <pg-plane *ngFor="let player of players.values(); trackBy: trackById" [player]="player"></pg-plane>
  <ngt-soba-orbit-controls [rotateSpeed]="0.3" [zoomSpeed]="0.3"></ngt-soba-orbit-controls>
</ngt-canvas>
<pg-players-summary *ngIf="players" class="players-summary"></pg-players-summary>
<pg-player-stats *ngIf="myPlayer" class="plane-stats" [player]="myPlayer"></pg-player-stats>
