@use 'src/styles/variables';

:host {
  background: var(--card-background-color);
  box-shadow: 0 0 4px 2px var(--card-shadow-color);
  color: var(--card-text-color);
  display: block;
  height: 100%;
  margin: 20px;
}
