.card {
  background-color: #013055;
  border: 5px solid #0f0f36;
  border-radius: 10px;
  color: #d2d6e1;
  font-size: 16px;
  font-weight: bold;
  height: 100%;
  margin: 30px;
  padding: 30px;
  text-align: center;
}
