:host {
  display: block;
  height: fit-content;
  width: fit-content;
}

.help {
  background: var(--card-background-darker-color);
  display: flex;
  flex-direction: column;
  height: min(550px, 80vh);
  padding: 20px;
  width: min(650px, 85vw);

  & &__content {
    overflow-y: auto;
  }

  & &__controls-container {
    column-gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
}
