:host {
  max-height: 100%;

  ::ng-deep table {
    display: block;
    max-height: 100%;
    overflow-y: auto;
    text-align: right;
    width: 100%;

    tbody tr:nth-of-type(2n + 1) {
      background-color: rgb(255 255 255 / 6%) !important;
    }
  }
}

.header-row {
  background-color: var(--card-background-darkest-color) !important;
  height: 31px;
  position: sticky;
  top: 0;
}

.my-player-row {
  background-color: var(--accent-color) !important;
  bottom: 0;
  color: var(--button-text-color);
  font-weight: bold;
  padding-bottom: 0;
  position: sticky;
  top: 31px;
}

.header-row,
.player-row {
  width: 100%;

  & &__position {
    text-align: right;
    width: 30px;
  }

  & &__date {
    width: 120px;
  }

  & &__nickname {
    width: 140px;
  }

  & &__score {
    width: 80px;
  }

  & &__shipments {
    width: 20px;
  }

  & &__time {
    width: 70px;
  }

  & &__death-cause {
    width: 90px;
  }
}
