<pg-card class="start" [formGroup]="form">
  <p class="start__label">Enter you nickname</p>
  <div class="start__input-wrapper input-wrapper">
    <input
      class="input-wrapper__input"
      formControlName="nickname"
      type="text"
      (keydown.enter)="registerAndStartGame()" />
    <p class="input-wrapper__error" *ngIf="nicknameControl?.errors?.['username_taken']">
      Please select a different username
    </p>
  </div>
  <div class="start__button-wrapper button-wrapper">
    <button class="button-wrapper__button" (click)="registerAndStartGame()" [disabled]="!form.valid">
      Enter the game
    </button>
  </div>
</pg-card>
