<pg-card class="start" [formGroup]="form">
  <p class="start__label">Enter your nickname</p>
  <div class="start__input-wrapper input-wrapper">
    <input
      class="input-wrapper__input"
      formControlName="nickname"
      type="text"
      (keydown.enter)="registerAndStartGame()" />
    <p class="input-wrapper__error" *ngIf="nicknameControl?.errors?.['username_taken']">
      Username already taken, please select a different one
    </p>
    <p class="input-wrapper__error" *ngIf="nicknameControl?.touched && nicknameControl?.errors?.['minlength']">
      Username has to be minimum 3 characters
    </p>
    <p class="input-wrapper__error" *ngIf="nicknameControl?.touched && nicknameControl?.errors?.['maxlength']">
      Username has to be maximum 15 characters
    </p>
    <p class="input-wrapper__error" *ngIf="serverError === 'lobby_full'">Lobby is full, please try again later</p>
    <p class="input-wrapper__error" *ngIf="serverError === 'unknown_error'">
      Unknown error occurred, please try again later
    </p>
  </div>
  <div class="start__button-wrapper button-wrapper">
    <button type="submit" class="button-wrapper__button" (click)="registerAndStartGame()" [disabled]="!form.valid">
      Enter the game
    </button>
  </div>
</pg-card>
