<pg-table
  *ngIf="playersSorted$ | async as players"
  [array]="players"
  [noRecordsText]="'No game-cockpit in session'"
  [rowTemplate]="player_row"
  [updateTrigger$]="playersService.changed$">
</pg-table>
<ng-template #player_row let-player="data">
  <tr>
    <td class="status">
      <span class="icon icon--strong" [class.icon--filled]="player.connected">circle</span>
    </td>
    <td>
      <span *ngIf="player.isFocused; else notInFocus" class="icon">center_focus_weak</span>
      <ng-template #notInFocus><span class="icon"> crop_free </span></ng-template>
    </td>
    <td class="nickname">
      <span> {{ player.nickname | nickname }}</span>
      <span *ngIf="player.isBot" class="icon icon--ml"> smart_toy </span>
      <span *ngIf="player.shipment" class="icon icon--ml"> inventory_2 </span>
    </td>
    <td class="score">{{ player.score | number: '1.2-2' }}$</td>
  </tr>
</ng-template>
