.nickname {
  min-width: 6rem;
}

.score {
  min-width: 3.5rem;
}

.my-player-row {
  background-color: var(--accent-darker-color) !important;
  color: var(--button-text-color);
  font-weight: bold;
}
