<pg-card class="shipment-details" [class.shipment-details--selected]="isFocused">
  <h3>{{ shipment.name }}</h3>
  <p>Cash award: {{ shipment.award }}$</p>
  <p>To: {{ destination }}</p>
  <p>
    <span *ngIf="shipment.valid_till | remainingTime | async as remaining_seconds; else expired"
      >Expire in {{ remaining_seconds }} s</span
    >
    <ng-template #expired><span>Expired</span></ng-template>
  </p>
  <button *ngIf="isSelectable" (click)="selected.emit()" [disabled]="!isFocused">
    {{ isSelected ? 'Deselect [↩]' : 'Select [↩]' }}
  </button>
</pg-card>
