:host {
  display: grid;
  grid-template-columns: 1fr 10px;
  width: 150px;
  align-items: center;
}

.nickname {
  width: 150px;
}

.status {
  padding: 0 6px 0 8px;
}


.material-symbols-outlined {
  font-size: 12px;
  font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 10;

  &--filled {
    color: var(--correct-color);
    font-variation-settings:
      'FILL' 1,
      'wght' 700,
      'GRAD' 0,
      'opsz' 10;
  }
}
