.nickname {
  min-width: 130px;

  & &__bot {
    margin-left: 5px;
  }
}

.score {
  text-align: right;
}

.material-symbols-outlined {
  font-size: 12px;
  font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 10;

  &--filled {
    color: var(--correct-color);
    font-variation-settings:
      'FILL' 1,
      'wght' 700,
      'GRAD' 0,
      'opsz' 10;
  }
}
