<div class="player-cockpit" *ngIf="player && position">
  <pg-card class="plane-stats-container">
    <table>
      <tr>
        <td>Velocity:</td>
        <td>{{ player.velocity }} km/h</td>
      </tr>
      <tr>
        <td>Bearing:</td>
        <td>{{ position.bearing | number: '2.2-2' }} deg</td>
      </tr>
      <tr>
        <td>Latitude:</td>
        <td>{{ position.coordinates.lat | number: '2.5-5' }} deg</td>
      </tr>
      <tr>
        <td>Longitude:</td>
        <td>{{ position.coordinates.lon | number: '2.5-5' }} deg</td>
      </tr>
    </table>
  </pg-card>
  <pg-compass [bearing]="position.bearing"></pg-compass>
</div>
