:host {
  display: block;
  height: fit-content;
  width: fit-content;
  z-index: 15;
}

.game-over {
  background: var(--card-background-darker-color);
  display: flex;
  flex-direction: column;
  min-height: min(495px, 80vh);
  padding: 20px;
  width: min(650px, 85vw);

  & &__leaderboard {
    flex-grow: 1;
  }

  & &__actions {
    column-gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
