<ng-container *ngIf="textures$ | async as textures">
  <ngt-group [rotation]="airport.cartesianRotation" [position]="airport.cartesianPosition">
    <ngt-group [rotation]="[0, 1 | pi, 0]">
      <pg-elevated-text [text]="airport.name"></pg-elevated-text>
      <ngt-primitive [object]="textures.model" [scale]="0.5"></ngt-primitive>
      <ngt-group *ngIf="airport.isNearbyAndAvailable$ | async">
        <ngt-mesh>
          <pg-elevated-text
            [position]="[0, 0.7, 0]"
            [text]="'Press F to land'"
            [colors]="[materials.textMaterialDark, materials.textMaterialLight]"></pg-elevated-text>
          <ngt-circle-geometry [args]="[NEARBY_AIRPORT_SCALED_DISTANCE, 64]"></ngt-circle-geometry>
          <ngt-mesh-basic-material
            [color]="textures.shadeColor"
            [transparent]="true"
            [opacity]="0.4"></ngt-mesh-basic-material>
        </ngt-mesh>
      </ngt-group>
    </ngt-group>
  </ngt-group>
</ng-container>
