<ng-container *ngIf="textures$ | async as textures">
  <ngt-group [rotation]="airport.cartesianRotation" [position]="airport.cartesianPosition">
    <ngt-group [rotation]="[0, 1 | pi, 0]">
      <ngt-soba-text3d
        [fontUrl]="'assets/fonts/koulen.json'"
        [text]="airport.name"
        [height]="0.1"
        [position]="[0, -0.5, -0.2]"
        [size]="0.5"
        [material]="[textures.colorMaterialX, textures.colorMaterialY]"></ngt-soba-text3d>
      <ngt-primitive [object]="textures.model" [scale]="0.5"></ngt-primitive>
    </ngt-group>
  </ngt-group>
</ng-container>
