<pg-card class="game-intro">
  <div class="game-intro__header header">
    <h2 class="header__welcome">Welcome {{ user.nickname | nickname }}!</h2>
    <button class="header__button button--medium" (click)="logout()"><span class="icon">logout</span></button>
  </div>
  <div class="game-intro__content">
    <ng-container *ngIf="lastGames$ | async as lastgames">
      <ng-container *ngIf="!lastgames.length; else lastGamesTable">
        <h4>Hello newcomer :) As this is your first game, here is the most important info about the game</h4>
        <p>If you forget anything, you can get back to this screen anytime in the game using [H]</p>
        <pg-game-description></pg-game-description>
        <pg-controls-info></pg-controls-info> 
      </ng-container>
      <ng-template #lastGamesTable>
        <h3>Recent games</h3> 
        <pg-last-games [lastGames]="lastgames"></pg-last-games>
      </ng-template>
    </ng-container>
  </div>
  <div class="game-intro__button-wrapper button-wrapper">
    <div>
      <p class="error" *ngIf="serverError === 'lobby_full'">Lobby is full, please try again later</p>
      <p class="error" *ngIf="serverError === 'already_in_game'">You have a session opened in another tab!</p>
      <p class="error" *ngIf="serverError === 'unknown_error'">Unknown error occurred, please try again later</p>
    </div>
    <button class="button-wrapper__button" (click)="joinTheGame()">Enter the game</button>
  </div>
</pg-card>
