@import 'src/styles/variables';

:host {
  display: block;
  height: fit-content;
  width: fit-content;
}

.airport-main-panel {
  background: var(--card-background-darker-color);
  display: flex;
  flex-direction: column;
  min-height: min(495px, 80vh);
  padding: 20px;
  width: min(650px, 85vw);

  & &__actions {
    column-gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.packages-container {
  flex-grow: 1;

  & &__title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    button {
      padding: 2px;
      width: min-content;
    }

    h3 {
      margin: 0;
    }
  }

  & &__packages {
    column-gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
