<pg-card class="airport-main-panel">
  <h2>Welcome to {{ airport.name }}</h2>
  <div class="airport-main-panel__packages-container packages-container">
    <h3 *ngIf="!airport.shipments.length as length; else shipments">There are no available packages at this airport</h3>
    <ng-template #shipments>
      <div class="packages-container__title">
        <button *ngIf="airport.shipments.length > 3" class="material-symbols-outlined" (click)="goToPreviousPackage()">
          chevron_left
        </button>
        <h3>
          Available packages<span *ngIf="playerShipment"
            >(You can't pick a package, as you already have {{ playerShipment.name }} on board)</span
          >
        </h3>
        <button *ngIf="airport.shipments.length > 3" class="material-symbols-outlined" (click)="goToNextPackage()">
          chevron_right
        </button>
      </div>
      <div class="packages-container__packages">
        <pg-shipment-details
          *ngFor="
            let shipment of airport.shipments | slice: firstPackageIndex:firstPackageIndex + 3;
            trackBy: trackById;
            index as index
          "
          (click)="focusPackage(shipment.id)"
          (selected)="selectOrDeselectPackage(shipment.id)"
          [isSelectable]="!playerShipment"
          [isFocused]="shipment.id === focusedId"
          [isSelected]="shipment.id === selectedId"
          [shipment]="shipment"></pg-shipment-details>
      </div>
    </ng-template>
  </div>
  <div class="airport-main-panel__actions">
    <button (click)="startFuelingProcedure()">Refuel [X]</button>
    <button (click)="startDepartureProcedure()">Take off [T]</button>
  </div>
</pg-card>
