@import 'src/styles/variables';

:host {
  display: block;
  height: min(495px, 80vh);
  width: min(650px, 90vw);
}

.airport-main-panel {
  background: var(--card-background-darker-color);
  display: flex;
  flex-direction: column;
  padding: 20px;

  & &__packages-container {
    flex-grow: 1;

    & &__packages {
      column-gap: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 20px;
    }
  }
}


