<h3>General info</h3>
<p>This game will present you with a stunning experience of flying an aeroplane around the earth.<br /></p>
<ul>
  <li>You need to collect the most amount of space dollars by delivering shipments between airports</li>
  <li>
    You may select any package that is available on a particular airport, beware however that the delivery time of
    packages vary, and some may be impossible to be delivered in a specified time
  </li>
  <li>
    You need to make sure you are travelling with high enough velocity and have enough fuel, which can be obtained at
    any airport
  </li>
</ul>
