<h3>General info</h3>
<p>
  This game will present you with a stunning experience of flying a jet around the earth. It is open-source and based on
  python & angular. You can view the project source
  <a href="https://github.com/marcindz88/jetlag.gg" target="_blank">here</a>
</p>
<p>Game tips:</p>
<ul>
  <li>Your goal is to collect the most amount of cash by delivering shipments between the airports</li>
  <li>You can see the closest airports and available packages in the table in the left-top corner</li>
  <li>You are allowed to deliver only one shipment at a time</li>
  <li>Shipments have to be delivered before they expire</li>
  <li>Remember to refuel your jet regularly, otherwise it may end badly!</li>
  <li>Try to obtain the best score possible and maybe you will place highly on the all time high leaderboard</li>
  <li>Invite your friends to play at the same time</li>
</ul>
