.name {
  min-width: 140px;
}

.distance {
  min-width: 80px;
  text-align: right;
}

.packages {
  min-width: 50px;
  text-align: right;

  span {
    vertical-align: middle;
  }

  .material-symbols-outlined {
    font-size: inherit;
  }
}
